.hero {
  background-image: url('img/indexbackground.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 120vh;
  background-size: 100%;
  color: #d2aa35;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

  nav {
    background-color: #01090D;
    overflow: hidden;
    width:100%;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    flex: 1;
    text-align: center;
  }
  
  nav a {
    display: block;
    padding: 15px;
    margin:0px;
    color: #59605a;
    text-decoration: none;
  }


  .title{
    margin-right: 50%;
    margin-bottom:10%;
  }
  .journey {
    text-align: center;
  }