@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); 


html{
    margin:0;
    padding:0;
    background-color: black;
}
#screen{
    position: relative;
    width:100%;
    height:100%;
    background-color: rgb(42, 42, 42);
    min-height: 100%; 
    min-height: 100vh;
}



#scan, #bezel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#content {
    font-family: 'VT323',"Georgia";
    font-size:40px;
    color:rgb(159,248,25);
    position: absolute;
    left:5%;
    top:5%;
}
#cursor{
    font-size: 40px;
}