<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  {%- include head.html -%}
  <script type="text/javascript" defer>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']], // Allow both $...$ and \(...\) for inline math
        displayMath: [['$$', '$$'], ['\\[', '\\]']] // Allow both $$...$$ and \[...\] for block math
      },
      options: {
        skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre'], // Skip these tags
      }
    };
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.min.js" defer></script>
</head>

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>
